CompileFlags:
    Remove:
        - -fno-allow-store-data-races
        - -fconserve-stack
        - -m*
        - -enable-trivial-auto-var-init-zero-knowing-it-will-be-removed-from-clang
Diagnostics:
    ClangTidy:
        Remove: bugprone-sizeof-expression
