# Linux source code
/linux/*/
/linux/current
/linux/*.tar.xz

# Build artifacts
/kmod/build
/user/build

# Data files
/data/rootfs.cpio
/data/rootfs
/data/logs/*
/data/*.tar.xz
/data/qemu*

# Python
__pycache__

# clangd
compile_commands.json
compile_commands.json.tmp
compile_commands.events.json
.cache
