# clangd
compile_commands.json
compile_commands.events.json
.cache

# Linux source code
/linux/*/
/linux/current
/linux/*.tar.xz

# Kernel module
*.ko
*.o.d

# Data files
/data/rootfs.ext4
/data/logs/*
/data/rootfs/bin/*
/data/rootfs/init.sh
!/data/*/README.md
!/data/*/*/README.md

# Python
__pycache__
