# Linux source code
/linux/*/
/linux/current

# Build artifacts
/kmod/build
/user/build
/kmod/**/*.o
/kmod/**/*.cmd
/build

# Data files
/data/download/*.tar.xz
/data/logs/*
!/data/logs/README.md
/data/latest.*
/data/rootfs/*.cpio
/data/qemu

# Python
__pycache__

# clangd
.cache

# Corpus
/data/corpus/*.json

# Bug reproduction logs
bugs/*.log
